# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the test coverage tools
*.out
.coverage

# Workspace
.idea
!.idea/codeStyles
!.idea/codeStyles/*.xml
!.idea/dataSources.xml
!.idea/runConfigurations
